/* main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
} */
*{
    font-family: monospace; 
}

body{
    background-color: #F3F5FC;
    font-family: monospace;
}

.logoA{
    position: relative;
    height: 48px;
    width: 31.085588455200195px;
    left: 7vmin;
    top: 5vmin;
    border-radius: 0px;
}

.input-texto{
    position: absolute;
    width: 40vmax;
    height: 40vmin;
    top: 8vmax;
    left: 10vmax;
    
    
    font-style: italic;
    font-weight: 400px;
    font-size: 3vmax;
    line-height: 150%;
    padding: 5px;
}


.button-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 5vmax;
    
    position: absolute;
    width: 670px;
    height: 100px;
    top: 80vmin;
    left: 13.5vmax;
    
}

.encriptar{
    flex-direction: row;
    align-items: center;
    
    width: 200px;
    height: 67px;
    
    background: #072345;
    border-radius: 24px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    border: #9ebee3;
}

.encriptar:hover{
    transition: .3s, .3s;
    background-color: #6eb2e09a;
    padding: 20px 25px;
    width: 200px;
    height: 67px;
    
    font-weight: 1000px;
    font-size: 19px;
    line-height: 19px;
    color: #ffffff;
    border: 1px solid #0A3871;
}

.desencriptar{
    width: 200px;
    height: 67px;
    
    background: #9ebee3;
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.desencriptar:hover{
    transition: .3s, .3s;
    color: #9ebee3;
    background-color: #031d3c;
    padding: 20px 25px;
    width: 200px;
    height: 67px;
    
    font-weight: 1000px;
    font-size: 19px;
    line-height: 19px;
    color: #d7e2f0;
}

.mensaje-container{
    position: absolute;
    right: 20vmin;
    top: 10vmin;
    float: right;
    width: 20%;
    height: 90vmin;
}

.mensaje{
    /* position: relative;
    margin-top: 10px;
    margin-left: 90px; */

    width: 100%;
    height: 90vmin;
    /* top: 10vmin;
    left: 810px; */
    border-radius: 32px;

    background-image: url("Muñeco.png");
    background-repeat: no-repeat;
    background-position:18px ;
    background-size: 90%;
    
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 29px;
    color: black;
    
    padding: 5vmin;
    letter-spacing: 2px;
}

.copiar{
    position: relative;
    bottom: 10%;
    left: 30%;
    width: 40%;
    height: 7%;
    border-radius: 10px;
    border: 1px solid #000;
    background: linear-gradient(to right, blue, white);

}

footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: -25vmin;
    width: 100%;
    background-color: #031d3c;
    height: 10vmin;
    text-align: center;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    }
    
    
.social-media{
        margin: 0 3vmin ;
        width: 2vmax;
    }
